# Data Structures
There are four collection data types in the Python programming language
- Lists
- Tuples
- Sets
- Dictionaries

## Python Lists
A list is a collection which is ordered and changeable. 
In Python lists are written with square brackets.

In [ ]:
names = ['Kunal', 'Arjun', 'Priya','Kishor','Anu']
print(names)
print(type(names))

In [ ]:
x = [1,5,8,'Kunal']
type(x)

In [ ]:
type('Kunal')

In [ ]:
# Access items
print(names[0])
print(names[2:])
print(names[:2])
print(names[1:3])

In [ ]:
type(names[0])

In [ ]:
names

In [ ]:
# Negative index
print(names[-1])
print(names[-2:])
print(names[:-2])
print(names[-3:-1])

In [ ]:
names[3:-4]

In [ ]:
# Change item in list
print(names)
names[3]="Vijay"
print(names)

In [ ]:
# Looping through lists
for j in names:
    print("Iterator now has value {}".format(j))

In [ ]:
# Nested list
mylist=[1,2,3,['a','b',[5,6]]]
print(mylist)

In [ ]:
type(mylist)

In [ ]:
mylist[3][2][0]

## Methods 
- append(): Adds an element at the end of the list
- clear(): Removes all the elements from the list
- copy(): Returns a copy of the list
- count(): Returns the number of elements with the specified value
- del : Delete list
- extend(): Add the elements of a list (or any iterable), to the end of the current list
- index(): Returns the index of the first element with the specified value
- insert():	Adds an element at the specified position
- len(): Length of list
- list(): Copies list from given list
- pop(): Removes the element at the specified position
- remove():	Removes the item with the specified value
- reverse(): Reverses the order of the list
- sort(): Sorts the list

In [ ]:
# append(): Adds an element at the end of the list
print(names)
names.append("Kumar")
print(names)

In [ ]:
# clear(): Removes all the elements from the list
names.clear()
print(names)

In [ ]:
# copy(): Returns a copy of the list
names = ['Kunal', 'Arjun', 'Priya','Kishor','Anu']
Names=names.copy()
print(Names)

In [ ]:
# count(): Returns the number of elements with the specified value
names.append("Kunal")
x=names.count('Kunal')
print(x)

In [ ]:
names

In [ ]:
# del : Delete list
del Names
print(Names)

In [ ]:
# extend(): Add the elements of a list (or any iterable), 
# to the end of the current list
print(names)
cars = ['Ford', 'BMW', 'Volvo']
names.extend(cars)
print(names)

In [ ]:
# index(): Returns the index of the first element with the specified value
x=names.index('Ford')
x

In [ ]:
# insert():Adds an element at the specified position
names.insert(2,'Audi')
print(names)

In [ ]:
# len(): Length of list
print(len(names))

In [ ]:
df = list(('Ford',)) # df = ['ford','audi']
df

In [ ]:
#df = list('Ford')
df = ['Ford']
df

In [ ]:
# list(): Creats list from given inputs
new_list=list(('Audi',"BMW",'Ford'))
print(new_list)

In [ ]:
print(names)

In [ ]:
# pop(): Removes the element at the specified position
names.pop(5)
#print(names.pop(5))
print(names)
#names.pop(2)
#print(names)

In [ ]:
names.pop()
print(names)

In [ ]:
# remove(): Removes the item with the specified value
names.append('Delhi')
print(names)

In [ ]:
names.remove('Audi')
print(names)

In [ ]:
#names = ['Kunal', 'Arjun', 'Priya', 'Kishor', 'Kunal', 'Ford', 'BMW']
to_remove = ['Kunal', 'Ford']
for i in to_remove:
    names.remove(i)
names

In [ ]:
#names.extend(['Kunal']*5)

In [ ]:
names

In [ ]:
# reverse(): Reverses the order of the list
names.reverse()
print(names)

In [ ]:
names

In [ ]:
# sort(): Sorts the list
names.sort()
print(names)

In [ ]:
names.sort(reverse = True)
names

## Tuples
A tuple is a collection which is ordered and unchangeable. 
In Python tuples are written with round brackets.

In [ ]:
t1=(1,5,8,3,10,3)
t2=('Kunal', 'Arjun', 'Priya','Kishor','Anu')
print(t1,"\n")
print(t2)

In [ ]:
# Access elements
print(t1[0])
print(t1[2:])
print(t1[:3])

In [ ]:
type(t1[0:3])

In [ ]:
# Negative index
print(t1[-1])
print(t1[-4:])
print(t1[:-3])

In [ ]:
# Change tuple values
print(t1)
t1[0]=99

Tuples are not interchangable. So no additional element can be added or removed. Try...

In [ ]:
# Looping through tuple
for j in t1:
    print('The iterator now has value = {}'.format(j))

In [ ]:
print('Kunal' in t2)

In [ ]:
# Check if 'Kunal' in t2
if "Kunal" in t2:
    print("Kunal is listed in t2")

In [ ]:
# tuple with one item
T1=("Hi",)
print(type(T1))
T2=("Hi")
print(type(T2))

## Methods 
- tuple(): Creates tuple with elements specified.
- len(): Gives length of tuple, no. of elements in tuple.
- t1 + t2 : Adds two tuples
- del(): Deletes tuple
- count(): Returns the number of times a specified value occurs in a tuple.
- index(): Searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
# tuple(): Creates tuple with elements specified.
t=tuple((0,2,4,6,0,2,2,5,2,0,2,3,4))
print(t)
print(type(t))

In [ ]:
# len(): Gives length of tuple, no. of elements in tuple.
len(t)

In [ ]:
# t1 + t2 : Adds two tuples
t + t1

In [ ]:
#time_laptop = [3,4,3,5,5,4,6]
#time_mobile = [1,2,1,1,1,2,2]
#time_laptop + time_mobile

In [ ]:
# del(): Deletes tuple
print(T1)
del T1
print(T1)

In [ ]:
# count(): Returns the number of times a specified value occurs in a tuple.
t.count(2)

In [ ]:
# index(): Searches the tuple for a specified value and returns the position of where it was found.
t.index(2)

In [ ]:
t = (1,2,5,'a','b', (1,'c'))
print(t)

In [ ]:
print(t[4])
print(type(t[4]))

## Sets
A set is a collection which is unordered and unindexed. 
In Python sets are written with curly brackets.

In [ ]:
set1={1,3,8,9,4,3,5,2,1}
print(set1,"\n")
set2={'A','C','D','A','X'}
print(set2)

In [ ]:
set2={'A','D','C','X'}
print(set2)

In [ ]:
# Access items
# You cannot access items in a set by referring to an index, 
# since sets are unordered the items has no index.
set1[3]

In [ ]:
# Access items
# loop through the set items using a for loop
for j in set1:
    print(j)

In [ ]:
print('D' in set2)

## Methods
- add(): Adds an element to the set
- clear(): Removes all the elements from the set
- copy(): Returns a copy of the set
- difference(): Returns a set containing the difference between two or more sets
- difference_update(): Removes the items in this set that are also included in another, specified set
- discard(): Remove the specified item
- intersection(): Returns a set, that is the intersection of two other sets
- intersection_update(): Removes the items in this set that are not present in other, specified set(s)
- isdisjoint(): Returns whether two sets have a intersection or not
- issubset(): Returns whether another set contains this set or not
- issuperset(): Returns whether this set contains another set or not
- len(): Finds length of set
- pop(): Removes an element from the set
- remove(): Removes the specified element
- symmetric_difference(): Returns a set with the symmetric differences of two sets
- symmetric_difference_update(): inserts the symmetric differences from this set and another
- union(): Return a set containing the union of sets
- update(): Update the set with the union of this set and others

In [ ]:
# add(): Adds an element to the set
print(set1)
set1.add(12)
print(set1)

In [ ]:
# clear(): Removes all the elements from the set
set1.clear()
print(set1)

In [ ]:
# copy(): Returns a copy of the set
set1=set2.copy()
print(set1)

In [ ]:
# difference(): Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.difference(y)
print(z)

In [ ]:
# difference_update(): Removes the items in this set that are also included in another, specified set
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.difference_update(y)
print(x)

In [ ]:
y

In [ ]:
# discard(): Remove the specified item
print(set1)
set1.discard('X')
print(set1)

In [ ]:
# intersection(): Returns a set, that is the intersection of two other sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.intersection(y)
print(z)

In [ ]:
# intersection_update(): Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.intersection_update(y)
print(x)
print(y)

In [ ]:
# isdisjoint(): Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.isdisjoint(y)
print(z)

In [ ]:
# issubset(): Returns whether another set contains this set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}

z = x.issubset(y)
print(z)

In [ ]:
# issuperset(): Returns whether this set contains another set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}

z = y.issuperset(x)
print(z)

In [ ]:
# len(): Finds length of set
len(y)

In [ ]:
# pop(): Removes an element from the set and returns the removed value.
x = { "banana","apple","cherry"}
print(x)
print(x.pop())
print(x)

In [ ]:
#x = {"apple", "banana", "cherry"}
#print(x)

In [ ]:
# remove(): Removes the specified element
y={'samsung', 'apple', 'mi'}
print(y)
y.remove('mi')
#y.remove('MI')
#y.discard('MI')
print(y)

In [ ]:
# symmetric_difference(): Returns a set with the symmetric differences of two sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.symmetric_difference(y)
print(z)

In [ ]:
# symmetric_difference_update(): inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.symmetric_difference_update(x)
print(y)

In [ ]:
# union(): Return a set containing the union of sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z=x.union(y)
print(z)

In [ ]:
# update(): Update the set with the union of this set and others
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.update(y)
print(x)
print(y)

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
lst = ['string',10]

In [ ]:
d1={"Name": "Ankit","Class": '12th','Roll No.': 25, 'Result': "Pass"}
print(d1)

In [ ]:
# Accessing Items
# You can access the items of a dictionary by referring to its key name, inside square brackets.
d1['Result']

In [ ]:
# get() function
d1.get('Result')

In [ ]:
d1

In [ ]:
# Change values
d1['Name']='Aniket'
print(d1)

In [ ]:
# Looping through dictionary
for j in d1:
    print(j)

In [ ]:
for j in d1:
    print(d1[j])

In [ ]:
# Extract keys
d1.keys()
print(d1.keys())

In [ ]:
# Extract values
d1.values()

In [ ]:
# Extract keys and values both
d1.items()

In [ ]:
for k,v in d1.items():
    print(k,v)

In [ ]:
# Check existance of key
print('Result' in d1,'\n')

if 'Name' in d1:
    print('Name exists in disctionary')

In [ ]:
# Nested dictionary
myfamily = {
  "child1" : {
    "name" : "kruti",
    "year" : 2004
  },
  "child2" : {
    "name" : "Akruti",
    "year" : 2007
  },
  "child3" : {
    "name" : "Sanskruti",
    "year" : 2011
  }
}
print(myfamily)

In [ ]:
child1 = { "name" : "kruti","year" : 2004}
child2 = {"name" : "Akruti","year" : 2007}
child3 = {"name" : "Sanskruti","year" : 2011}

myfamily = { "child1" : child1, "child2" : child2, "child3" : child3}

print(myfamily)

In [ ]:
d1['Class']

In [ ]:
myfamily['child2']['year']

In [ ]:
y = myfamily.keys()
print(y)
y = myfamily['child1'].keys()
print(y)

## Methods
- clear(): Removes all the elements from the dictionary
- copy(): Returns a copy of the dictionary
- fromkeys(): Returns a dictionary with the specified keys and values
- pop(): Removes the element with the specified key
- popitem(): Removes the last inserted key-value pair
- setdefault(): Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update(): Updates the dictionary with the specified key-value pairs

In [ ]:
# clear(): Removes all the elements from the dictionary
print(d1)
d1.clear()
print(d1)

In [ ]:
# copy(): Returns a copy of the dictionary d2 = d1
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
d3 = d1
print(d3)
D =d1.copy()
print(D)

In [ ]:
d3['Result'] = 'Fail'
d3

In [ ]:
d1

In [ ]:
D['Result'] = 'Fail'
D

In [ ]:
d1

In [ ]:
# fromkeys(): Returns a dictionary with the specified keys and values
x = ('key1', 'key2', 'key3')
y = ('A','B','C') #'NA'
z=dict.fromkeys(x,y)
print(z)

In [ ]:
# pop(): Removes the element with the specified key
print(d1)
d1.pop('Name')
print(d1)

In [ ]:
# popitem(): Removes the last inserted key-value pair
print(d1)
d1.popitem()
print(d1)

In [ ]:
# setdefault(): Returns the value of the specified key. 
# If the key does not exist: insert the key, with the specified value
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
print(d1)
d2=d1.setdefault("Class")
print(d2)
d3=d1.setdefault("Location",'Pune')
print(d3)

In [ ]:
d1

In [ ]:
# update(): Updates the dictionary with the specified key-value pairs
print(d1)
d1.update({"Division":"A"})
print(d1)

In [ ]:
d1.update({"Gender":'M',"Age":19})
print(d1)

In [ ]:
d3 = d1.copy()
print(d3)

In [ ]:
d3.update({'XYZ':446})
print(d3)
print(d1)

In [ ]:
d4 = d1
print(d4)

In [ ]:
d4.update({'xyz':454})
print(d4)
print(d1)

Basics of Python Programming

1. 	Below is a part of a DNA sequence. Copy that to python in a variable named as ‘DNA’. 
    
    a.	What is the length of the sequence?
    
    b.	Write a code that replaces specified name like A or C from sequence by         some number.
    
    c. Split the DNA sequence so we can have each character as new entry.
 
 'CCAGCAGCTCCTTGCCGAGATGGGATTCGGTTATCTTGCCTTTGAAAAAATCCAGGTAACCTTCCGCATCATCGCTCGCCCGACCGACGGCCTCCACGAATGCCGATTTGCCAACGGTGTTCACACTGCGGATATAAAAGTAATAATCATGGCCCGGTTTGATATTGATACTGGCGGCTATCCAGTACAGCGCCGTACCAAGATAA'

In [ ]:
y = 'CCAGCAGCTCCTTGCCGAGATGGGATTCGGTTATCTTGCCTTTGAAAAAATCCAGGTAACCTTCCGCATCATCGCTCGCCCGACCGACGGCCTCCACGAATGCCGATTTGCCAACGGTGTTCACACTGCGGATATAAAAGTAATAATCATGGCCCGGTTTGATATTGATACTGGCGGCTATCCAGTACAGCGCCGTACCAAGATAA'

In [ ]:
print(len(y))

In [ ]:
print(y.replace('A','1'))

In [ ]:
y.split()

In [ ]:
Y = list(y)
len(Y)

In [ ]:
type(Y)