In [6]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [ ]:
def df(nrow, ncol):
    names = ['s' + str(x) for x in range(0,ncol)]
    out = np.random.randn(nrow,ncol)
    df = pd.DataFrame(out)
    df.columns = names
    return df

In [ ]:
x = df(5,4)
x

In [2]:
path = 'C:\\Users\\MSI\\Desktop\\DS using R\\New folder\\'

In [8]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
df = pd.DataFrame(columns=['A','B','C'], index=[0,1,2,3])
print(df)

     A    B    C
0  NaN  NaN  NaN
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  NaN  NaN  NaN

In [11]:
df = pd.DataFrame(randn(4,3), columns=['A','B','C'], index=[0,1,2,3])
df

          A         B         C
0  0.132777  0.739013 -1.460030
1 -0.952124  0.879234 -0.430066
2 -0.087089  0.272980  0.419549
3  0.109759  0.337269 -0.651151

In [4]:
df.to_csv(path+'x1.csv', index=False)

In [14]:
def file_generator(n,t):
    """
    n = number of files
    t = type of file (.csv,.txt,.xlsx)
    """
    for i in range(0,n):
        df = pd.DataFrame(randn(4,3), columns=['A','B','C'], index=[0,1,2,3])
        if t == '.csv':
            df.to_csv(path+'x'+str(i)+'.csv')

In [18]:
file_generator(1000,'.txt')